<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi select for check box</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <h1>checkboxes</h1>
        Hobbies: <br>
        <label for="cric">Cricket</label>
        <input type="checkbox" name="hobby" id="cric" value="cricket">
        <label for="volley">volley ball</label>
        <input type="checkbox" name="hobby" id="volley" value="volley ball">
        <label for="swim">swimming</label>
        <input type="checkbox" name="hobby" id="swim" value="swimming">
        <label for="cook">Cooking</label>
        <input type="checkbox" name="hobby" id="cook" value="cooking">
        <br><br>
        <h1>Multiselect</h1>
        <label for="fav">Fav Food:</label>
        <select name="fav" id="fav" multiple>
            <option value="gobi">Gobi</option>
            <option value="chicken">chicken65</option>
            <option value="idli">idly</option>
            <option value="pani">paani puri</option>
        </select>
        <input type="submit" value="submit">

    </form>
</body>
</html>